/*############### mediaquery ###############*/
@media screen and (max-width:760px){
    .villain{
        div{
            img{
                width: 200px;
                height: 150px;
            }
            p{
                text-align: center;            
            }
        }
    }
}
@media screen and (max-width:610px){
    .villain{
        div{
            img{
                width: 180px;
                height: 130px;
            }
            p{
                text-align: center;
                font-size: 13px;
            }
        }
    }
}
@media screen and (max-width:550px){
    .titulo{
        font-size: 25px;
    }
}
@media screen and (max-width:700px){
    .superhero{
        iframe{
            height: 300px;
            width: 400px;
        }
    }
}

@media screen and (max-width: 400px){
    .superhero{
        iframe{
            height: 250px;
            width: 300px;
        }
    }
}
/*------------------PRODUCTOS------------------------*/
@media screen and (max-width:820px){
    .gridconteiner{
        .griditem{
            p{
                font-size: 18px;
                text-align: center;
            }
            iframe{
                height: 300px;
                width: 400px;
            }
            img{
                height: 300px;
                width: 400px;
            }
        }
    }
}
@media screen and (max-width: 695px){
    .gridconteiner{
        .griditem{
            p{
                font-size: 14px;
                text-align: center;
            }
            iframe{
                height: 250px;
                width: 300px;
            }
            img{
                height: 250px;
                width: 300px;
            }
        }

    }
}
@media screen and (max-width: 520px){
    .gridconteiner{
        .griditem{
            iframe{
                height: 200px;
                width: 250px;
            }
            img{
                height: 200px;
                width: 250px;
            }
        }
    }
}
@media screen and (max-width: 963px){
    .gridconteiner{
        .img-grid{
            img{
                width: 250px;
                height: 200px;
            }
        }
    }
}
@media screen and (max-width: 760px){
    .gridconteiner{
        .img-grid{
            img{
                width: 230px;
                height: 180px;
            }
        }
    }
}
@media screen and (max-width: 600px){
    .gridconteiner{
        .img-grid{
            img{
                width: 200px;
                height: 150px;
            }
        }
    }
}
/*----------registro---------*/
@media screen and (max-width:884px){
    .registro{
        form{
            h2{
                font-size: 25px;
                margin: 25px;
            }
        }
    }
}

@media screen and (max-width:490px){
    .registro{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        form{
            h2{
                font-size: 20px;
                margin: 20px;
            }
        }
    }
}


/*-----------------------------*/


@media screen and (max-width:572px){
        .horarios{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            div{
                font-size: 15px;
            }
        }
        .mapa{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2{
                font-size: 30px;
            }
            iframe{
                width: 300px;
                height: 150px;
            }
        }
}

@media screen and (max-width:510px){
    .footer{
        h3{
            font-size: 15px;
        }
    }
}